.Anbar-Wrapper {
  background-color: #f9fafb;
  .Anbar-Inner {
    width: 1200px;
    margin: 0;
    padding: 20px 20px;
    .Anbar-Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Anbar-Header-Text {
        .Anbar-Header-Name {
          font-size: 38px;
          font-weight: 600;
          color: #1f2937; /* тёмно-серый */
          margin-bottom: 4px;
        }
        .Anbar-Header-Desc {
          font-size: 25px;
          color: #6b7280; /* серый */
          margin-bottom: 24px;
        }
      }
      .Anbar-Header-Button {
        .button-opis {
          display: flex;
          align-items: center;
          gap: 10px;

          padding: 24px;
          background: #2563eb;
          color: #ffffff;

          border: none;
          border-radius: 14px;

          font-size: 18px;
          font-weight: 500;

          cursor: pointer;
          outline: none;

          box-shadow: 0 6px 16px rgba(37, 99, 235, 0.25);
          transition:
            background 0.25s ease,
            transform 0.2s ease,
            box-shadow 0.2s ease;

          /* HOVER */
          &:hover {
            background: #1d4ed8;
            transform: translateY(-1px);
            box-shadow: 0 10px 24px rgba(37, 99, 235, 0.35);
          }

          /* ACTIVE (klik) */
          &:active {
            transform: translateY(0);
            box-shadow: 0 4px 10px rgba(37, 99, 235, 0.25);
          }
          .plus {
            font-size: 22px;
            font-weight: 600;
            line-height: 1;
          }
          .button-text {
            font-size: 20px;
          }
        }
      }
    }
    .Stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-top: 30px;
      margin-bottom: 60px;
      .Stats-Card {
        background: #ffffff;
        border: 1px solid #e5e7eb;
        border-radius: 16px;
        padding: 24px;
        display: flex;
        align-items: center;
        gap: 20px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.04);
        .Stats-Icon {
          width: 56px;
          height: 56px;
          border-radius: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 26px;
          &.blue {
            background: #e0ecff;
            color: #2563eb;
          }

          &.orange {
            background: #ffedd5;
            color: #f97316;
          }

          &.green {
            background: #dcfce7;
            color: #16a34a;
          }
        }
        .Stats-Text {
          display: flex;
          flex-direction: column;
          gap: 6px;
          .Stats-Title {
            font-size: 23px;
            color: #6b7280;
          }

          .Stats-Value {
            font-size: 28px;
            font-weight: 600;
            color: #111827;
          }
        }
      }
    }
    .Anbar-Input-Filter {
      display: flex;
      gap: 20px;
      align-items: center;

      padding: 18px;
      background: #ffffff;
      border: 1px solid #e5e7eb;
      border-radius: 16px;
    }
    /* SEARCH */
    .Filter-Search {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 12px;

      padding: 14px 18px;
      border: 2px solid #d1d5db;
      border-radius: 14px;
      background: #ffffff;

      transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;

      &:focus-within {
        border-color: #2563eb;
        box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
      }

      .Search-Icon {
        font-size: 18px;
        color: #9ca3af;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        color: #111827;

        &::placeholder {
          color: #9ca3af;
        }
      }
    }
    /* SELECT */
    .Filter-Select {
      &:focus-within {
        border-color: #2563eb;
        box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
      }
      select {
        padding: 17px;
        min-width: 220px;
        border-radius: 14px;
        background: #ffffff;
        font-size: 16px;
        font-weight: 500;
        color: #111827;
        cursor: pointer;
        outline: none;
        transition: box-shadow 0.2s ease;
        &:focus-within {
          border-color: #2563eb;
          box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
        }
        &:focus {
          box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
        }
      }
    }

    .Anbar-Objects-Saves {
      background: #fff;
      border-radius: 14px;
      padding: 16px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
      font-family: Inter, sans-serif;
    }

    .row {
      display: grid;
      grid-template-columns: 120px 1.8fr 1.2fr 1fr 1fr 1.2fr 1.2fr;
      align-items: center;
      column-gap: 12px;
      text-align: center;
      .row-Title {
        font-size: 20px;
        font-weight: 400;
      }
    }

    .header {
      font-size: 12px;
      font-weight: 600;
      color: #6b7280;
      padding-bottom: 12px;
    }

    .body {
      padding: 14px 0;
      border-top: 1px solid #e5e7eb;
      font-size: 14px;
    }
    .sku {
      font-size: 18px;
    }

    .name {
      font-weight: 600;
      font-size: 18px;
    }

    .category {
      color: #475569;
      font-size: 18px;
    }

    .stock {
      font-weight: 500;
      font-size: 18px;
      .min {
        color: #9ca3af;
      }

      .danger {
        color: #ef4444;
        font-weight: 700;
      }
    }

    .total {
      font-weight: 700;
      font-size: 18px;
    }
    .price {
      font-size: 18px;
    }

    .status {
      padding: 6px 12px;
      border-radius: 999px;
      font-size: 18px;
      font-weight: 600;
      display: inline-block;

      &.normal {
        background: #e0ecff;
        color: #2563eb;
      }

      &.asagi {
        background: #fff1db;
        color: #d97706;
      }

      &.kritik {
        background: #fee2e2;
        color: #dc2626;
      }

      &.yuksek {
        background: #dcfce7;
        color: #16a34a;
      }
    }
  }
}
