.ControlPaner-Wrapper {
  background-color: #f9fafb;
  .ControlPanel-Inner {
    width: 1150px;
    margin: 0;
    padding: 0 20px;
    .ControlPanel-Titles {
      display: block;
      .ControlPanel-Title {
        font-size: 38px;
        font-weight: 600;
        color: #1f2937; /* тёмно-серый */
        margin-bottom: 4px;
      }
      .ControlPanel-Title-Desc {
        font-size: 25px;
        color: #6b7280; /* серый */
        margin-bottom: 24px;
      }
    }
    .cards-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
      gap: 20px;
      .card {
        background: #ffffff;
        border-radius: 14px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease;
        .card-icon {
          width: 68px;
          height: 68px;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
        }
      }
      .card:hover {
        transform: translateY(-3px);
      }
    }

    .green {
      background: #22c55e;
    }
    .red {
      background: #ef4444;
    }
    .blue {
      background: #3b82f6;
    }
    .purple {
      background: #8b5cf6;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      .card-title {
        font-size: 18px;
        color: #64748b;
      }
      .card-value {
        font-size: 40px;
        font-weight: 600;
        margin: 4px 0;
        padding: 10px 0;
      }
      .card-percent {
        font-size: 16px;
      }
    }

    .positive {
      color: #16a34a;
    }
    .negative {
      color: #dc2626;
    }

    .Responsive-Chart-Card {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 24px;
      .chart-card {
        background: #fff;
        padding: 24px;
        border-radius: 16px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
        .chart-title {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .chart-body {
          width: 100%;
          height: 320px;
        }
        .pie-center {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .pie-legend {
          margin-top: 20px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 12px 20px;

          .legend-item {
            display: flex;
            align-items: center;
            gap: 10px;
            min-width: 190px;
            .legend-color {
              width: 12px;
              height: 12px;
              border-radius: 50%;
            }
            .legend-text {
              font-size: 22px;
              color: #111;
            }
          }
        }
      }
    }
    .operations-card {
      border-radius: 16px;
      padding: 24px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
      margin-top: 50px;
      .operations-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .operations-list {
        display: flex;
        flex-direction: column;
        .operation-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 18px 0;
          border-bottom: 1px solid #f0f0f0;

          &:last-child {
            border-bottom: none;
          }
          .operation-icon {
            width: 50px;
            height: 50px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.income {
              background: #dcfce7;
              color: #16a34a;
            }

            &.expense {
              background: #fee2e2;
              color: #dc2626;
            }
          }
          .operation-info {
            flex: 1;
            margin-left: 16px;
            .operation-name {
              font-size: 26px;
              font-weight: 500;
            }
            .operation-date {
              font-size: 17px;
              color: #6b7280;
              margin-top: 4px;
            }
          }
          .operation-amount {
            font-size: 25px;
            font-weight: 600;

            &.income {
              color: #16a34a;
            }

            &.expense {
              color: #dc2626;
            }
          }
        }
      }
    }
  }
}
